@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.small-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.medium-button {
  width: 48px;
  height: 48px;
  background-color: transparent;
}

.button-image {
  width: 100%;
  height: 100%;
}

.content {
  display: grid;
  grid-template: auto 1fr/auto 1fr;
  grid-template-areas: "sidebar header" "sidebar calendar";
  min-height: 100vh;
}

.scale {
  position: relative;
}

.scale__current {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 185px;
  padding: 6px 14px;
  background-color: #f5f5f5;
  border-radius: 5.5px;
  box-shadow: 1px 1px 4px #696969;
}

.scale__icon-text {
  display: flex;
  align-items: center;
}

.scale__calendar {
  height: 22px;
  margin-right: 8px;
}

.scale__text {
  font-family: Carlito;
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin-right: 15px;
}

.scale__toggle {
  width: 18px;
  height: 18px;
  background-color: transparent;
}

.scale__options-wrapper {
  position: absolute;
  display: none;
  width: 100%;
  padding-top: 3px;
}

.scale__options-wrapper_open {
  display: block;
  animation: openScaleOptions 0.25s linear 0s 1 normal forwards;
}

.scale__options-wrapper_close {
  display: block;
  animation: closeScaleOptions 0.25s linear 0s 1 normal forwards;
}

@keyframes openScaleOptions {
  0% {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes closeScaleOptions {
  0% {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }
}
.scale__options {
  width: 100%;
  border-radius: 5.5px;
  box-shadow: 1px 1px 4px #696969;
}

.scale__option {
  font-family: Carlito;
  font-size: 18px;
  font-weight: 400;
  color: black;
  padding: 10px 14px;
  background-color: #e8e8e8;
  border-bottom: solid #a9a9a9 1.5px;
  transition-duration: 0.15s;
}
.scale__option:first-child {
  border-top-left-radius: 5.5px;
  border-top-right-radius: 5.5px;
}
.scale__option:last-child {
  border-bottom: 0;
  border-bottom-left-radius: 5.5px;
  border-bottom-right-radius: 5.5px;
}
.scale__option:hover {
  background-color: #dcdcdc;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  padding: 10px 30px;
  background-color: #dcdcdc;
}

.period {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
}

.period__current {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.period__current button {
  margin-right: 10px;
}

.period__text {
  font-family: Carlito;
  font-size: 32px;
  font-weight: 400;
  color: black;
}

.period__change-period button:first-child {
  margin-right: 5px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #696969;
}

.side-calendar {
  margin: 15px;
  padding: 15px;
  background-color: #e8e8e8;
  border-radius: 20px;
}

.side-calendar__month {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.side-calendar__change-period {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 165px;
}

.side-calendar__text {
  font-family: Carlito;
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin: 0 10px;
}

.side-calendar__dates {
  position: relative;
  display: grid;
  grid-template: 1fr/repeat(7, 1fr);
  gap: 10px;
}

.side-calendar__day {
  font-family: Carlito;
  font-size: 18px;
  font-weight: 400;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  padding: 0 8px;
  background-color: #a9a9a9;
  border-radius: 50%;
  transition-duration: 0.15s;
}
.side-calendar__day:hover {
  opacity: 0.8;
}

.side-calendar__year {
  font-family: Carlito;
  font-size: 24px;
  font-weight: 700;
  color: #696969;
  position: absolute;
  bottom: 0;
  right: 0;
}

.calendar {
  overflow-y: auto;
  grid-area: calendar;
  background-color: #f5f5f5;
}

.calendar__year {
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  padding: 10px 15px;
  background-color: white;
  border-top-left-radius: 15px;
}

.calendar__year_visible {
  display: inline-block;
}

.calendar__year-text {
  font-family: Carlito;
  font-size: 24px;
  font-weight: 700;
  color: #696969;
}

.days {
  display: grid;
  grid-template: 1fr/repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 25px;
}

.days__date {
  background-color: #dcdcdc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.days__date_selected {
  background-color: #9a9adb;
}

.days__week-day {
  font-family: Carlito;
  font-size: 36px;
  font-weight: 400;
  color: white;
  background-color: #a9a9a9;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 0;
}

.days__week-day_selected {
  background-color: #7676a8;
}

.days__month-day {
  font-family: Carlito;
  font-size: 36px;
  font-weight: 400;
  color: white;
  text-align: center;
  padding: 5px 0 2px;
}

.days__events {
  border: solid 4px #dcdcdc;
  border-top: 0;
}

.days__events_selected {
  border-color: #9a9adb;
}