@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@400&display=swap");

@mixin font($fontSize: 32, $color: black) {
    font-family: Carlito;
    font-size: $fontSize + px;
    font-weight: 400;
    color: $color;
}

@import "reset-style";
@import "_animations";
@import "_buttons";
@import "_event";
@import "_add-event";

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba($color: black, $alpha: 0.25);
    border-radius: 5px;
}

// The main content of the page, including the top bar, sidebar, and calendar
.content {
    position: relative;
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    grid-template-areas: "sidebar header" "sidebar calendar";
    height: 100vh;

    @media screen and (max-width: 1200px) {
        grid-template: auto 1fr / 1fr;
        grid-template-areas: "header" "calendar";
    }
}
.content__shade-area {
    position: absolute;
    z-index: 3;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.75);
}
.content__shade-area_show {
    display: block;
    animation: showContentShadeArea 0.5s linear 0s 1 normal forwards;
}
.content__shade-area_hide {
    display: block;
    animation: hideContentShadeArea 0.5s linear 0s 1 normal forwards;
}

// Top bar
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    padding: 10px 30px;
    background-color: #dcdcdc;

    @media screen and (max-width: 900px) {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
        grid-template-areas: "scale list" "period period";

        .top__calendar-scale {
            display: flex;
            justify-content: space-between;
        }
    }
}
.top__calendar-scale {
    position: relative;
    display: flex;
    grid-area: scale;
}
#openSidebar {
    display: none;
    margin-right: 15px;

    @media screen and (max-width: 1200px) {
        display: block;
    }
}

// Moving between calendar periods
.period {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: period;
    justify-self: center;
    width: 480px;

    @media screen and (max-width: 540px) {
        width: 85vw;
    }
}
.period_show {
    animation: showPeriodAnimation 0.25s linear 0s 1 normal forwards;
}
.period_hide {
    animation: hidePeriodAnimation 0.25s linear 0s 1 normal forwards;
}
.period__current {
    display: flex;
    align-items: center;
    margin-right: 15px;

    button {
        margin-right: 10px;
    }
}
.period__text {
    @include font();
}
.period__change-period {
    button:first-child {
        margin-right: 5px;
    }
}
#displayEventsInList {
    grid-area: list;
}

.sidebar {
    grid-area: sidebar;
    height: 100vh;
    padding: 15px;
    background-color: #696969;
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba($color: black, $alpha: 0.25);
    }

    @media screen and (max-width: 1200px) {
        display: none;
    }
}
.sidebar_show {
    position: absolute;
    z-index: 4;
    display: block;
    transform-origin: left;
    animation: showSidebar 0.5s linear 0s 1 normal forwards;

    #closeSidebar {
        display: block;
    }
}
.sidebar_hide {
    position: absolute;
    z-index: 4;
    display: block;
    transform-origin: left;
    animation: hideSidebar 0.5s linear 0s 1 normal forwards;

    #closeSidebar {
        display: block;
    }
}
.sidebar_hide {
    position: absolute;
    z-index: 4;
    display: block;

    #closeSidebar {
        display: block;
    }
}
#closeSidebar {
    display: none;
    margin-bottom: 10px;
}
.sidebar__add {
    display: inline-table;
    grid-template: repeat(2, 1fr) / 1fr;
}
.sidebar__checkbox-group {
    margin-bottom: 15px;
}
#lastCheckboxGroup {
    margin-bottom: 20px;
}
.sidebar__checkbox {
    display: none;
}
.sidebar__checkbox-button {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    background-color: #a9a9a9;
    border: solid 2px #a9a9a9;
    border-radius: 25%;
    transition-duration: 0.25s;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 65%;
        height: 65%;
        background: url("../img/check-mark.svg");
        background-size: contain;
        opacity: 0;
        transition-duration: 0.25s;
    }
}
.sidebar__checkbox-label {
    @include font(24);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebar__checkbox:checked + .sidebar__checkbox-label .sidebar__checkbox-button {
    &::before {
        opacity: 1;
    }
}
#importantEvents:checked + .sidebar__checkbox-label .sidebar__checkbox-button {
    background-color: #db0000;
    border-color: #a9a9a9;

    &:hover {
        background-color: #b50000;
    }
}
#nonUrgentEvents:checked + .sidebar__checkbox-label .sidebar__checkbox-button {
    background-color: #0063db;

    &:hover {
        background-color: #0051b5;
    }
}
#creativeEvents:checked + .sidebar__checkbox-label .sidebar__checkbox-button {
    background-color: #af00db;

    &:hover {
        background-color: #9100b5;
    }
}
#healthAndEarningsEvents:checked + .sidebar__checkbox-label .sidebar__checkbox-button {
    background-color: #0dc200;

    &:hover {
        background-color: #0a9c00;
    }
}
#entertainmentEvents:checked + .sidebar__checkbox-label .sidebar__checkbox-button {
    background-color: #db9d00;

    &:hover {
        background-color: #b58200;
    }
}
#holidays:checked + .sidebar__checkbox-label .sidebar__checkbox-button {
    background-color: #00db5b;

    &:hover {
        background-color: #00b34b;
    }
}
#setCountry {
    margin-left: 10px;
}

// Mini calendar on the sidebar
.side-calendar {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #e8e8e8;
    border-radius: 20px;
}
.side-calendar__month {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.side-calendar__change-period {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 165px;
}
.side-calendar__text {
    @include font(24);
    margin: 0 10px;
}
.side-calendar__dates {
    position: relative;
    display: grid;
    grid-template: 1fr / repeat(7, 1fr);
    gap: 10px;

    @media screen and (max-width: 1200px) {
        grid-template: 1fr / repeat(5, 1fr);
    }
}
.side-calendar__day {
    @include font(18);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    padding: 0 8px;
    background-color: #a9a9a9;
    border-radius: 50%;
    transition-duration: 0.15s;

    &:hover {
        background-color: #c0c0c0;
    }

    @media screen and (max-width: 1200px) {
        font-size: 21px;
    }
}
.side-calendar__year {
    @include font(24, #696969);
    position: absolute;
    bottom: 0;
    right: 0;
}

// Main calendar
.calendar {
    grid-area: calendar;
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: auto;
}
.calendar__year {
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    padding: 10px 15px;
    background-color: white;
    border-top-left-radius: 15px;
}
.calendar__year_visible {
    display: inline-block;
}
.calendar__year-text {
    @include font(24, #696969);
}

// All events on the list
.events-in-list {
    display: none;
}
.events-in-list_show {
    display: block;
    animation: slideDownAnimation 0.5s linear 0s 1 normal forwards;
}
.events-in-list_hide {
    display: block;
    animation: slideUpAnimation 0.5s linear 0s 1 normal forwards;
}

// Events on the list in a specific month
.events-in-month {
    padding: 25px;
    border-bottom: solid 2px #a9a9a9;
}
.events-in-month__month {
    @include font(28, #696969);
    margin-bottom: 15px;
}
.events-in-month__events {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    gap: 20px;

    @media screen and (max-width: 470px) {
        grid-template: 1fr / 1fr;
    }

    .event {
        margin-bottom: 0;
    }
}

// Dates on the main calendar
.days {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 25px;
}
.days_hide {
    animation: hideDates 0.5s linear 0s 1 normal forwards;
}
.days_hide-reverse {
    animation: hideDatesReverse 0.5s linear 0s 1 normal forwards;
}
.days_show {
    animation: showDates 0.5s linear 0s 1 normal forwards;
}
.days_show-reverse {
    animation: showDatesReverse 0.5s linear 0s 1 normal forwards;
}
.days_show-events-in-calendar {
    animation: slideDownAnimation 0.5s linear 0s 1 normal forwards;
}
.days_hide-events-in-calendar {
    animation: slideUpAnimation 0.5s linear 0s 1 normal forwards;
}
.days_display-none {
    display: none;
}
.days__item_selected {
    .days__date {
        background-color: #9a9adb;
    }
    .days__week-day {
        background-color: #7676a8;
    }
    .days__events {
        border-color: #9a9adb;
    }
}
.days__item_deselected {
    .days__date {
        animation: deselectDate 0.25s linear 0s 1 normal forwards;
    }
    .days__week-day {
        animation: deselectWeekDate 0.25s linear 0s 1 normal forwards;
    }
    .days__events {
        animation: deselectEvents 0.25s linear 0s 1 normal forwards;
    }
}
.days__date {
    background-color: #dcdcdc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.days__date_full-height {
    height: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.days__week-day {
    @include font(36, white);
    background-color: #a9a9a9;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px 0;
}
.days__month-day {
    @include font(36, white);
    padding: 5px 0;
    text-align: center;
}
.days__events {
    padding: 5px;
    border: solid 8px #dcdcdc;
    border-top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

// Modifier classes for different types of events
.red-events {
    background-color: #db0000;

    &.side-calendar__day {
        color: white;

        &:hover {
            background-color: #b50000;
        }
    }
}
.blue-events {
    background-color: #0063db;

    &.side-calendar__day {
        color: white;

        &:hover {
            background-color: #0051b5;
        }
    }
}
.purple-events {
    background-color: #af00db;

    &.side-calendar__day {
        color: white;

        &:hover {
            background-color: #9100b5;
        }
    }
}
.green-events {
    background-color: #0dc200;

    &.side-calendar__day {
        color: white;

        &:hover {
            background-color: #9100b5;
        }
    }
}
.orange-events {
    background-color: #db9d00;

    &.side-calendar__day {
        color: white;

        &:hover {
            background-color: #b58200;
        }
    }
}
.azure-events {
    background-color: #00db5b;

    &.side-calendar__day {
        color: white;

        &:hover {
            background-color: #00b34b;
        }
    }
}
